* {
    margin: 0;
}

h1,h2{
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

h2{
    padding: 10px;
}
/* ******************************** */
/*              CABECERA            */
/* ******************************** */
header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 200px;
    margin: 0 20px;
}

header section{
    flex-grow: 1;
}

/* ******************************** */
/*        NAVEGACION + BUSCAR       */
/* ******************************** */

nav {
    align-items: center;
    background-color: #1a0099;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-height: 100px;
    padding: 0 10px;
}

nav input {
    background: #eee;
    border-radius: 5px;
    border: none;
    color: #63717f;
    font-size: 10pt;
    padding-left: 45px;
}

/* ******************************** */
/*            ENLACES NAV           */
/* ******************************** */

.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.menu li{
    background-color: white;
    border: 1px solid black;
}

.menu li a {
    text-align: center;
}

.menu li a:hover {
    background-color: #EA9999;
    color: whitesmoke;
}

.menu a {
    color: black;
    padding: 3px;
    text-decoration: none;
}

/* ******************************** */
/*         EL TACÓN DE ORO          */
/* ******************************** */

#presentacion {
    height: 100%;
    margin: 0;
    padding: 2rem 10rem;
}

#presentacion section{
    display: flex;
    flex-flow: row;
    align-items: center;
}

#presentacion p{
    width: 70%;
    margin-left: 2rem
}


/* ******************************** */
/*         SECCIÓN PRODUCTOS        */
/* ******************************** */

#productos {
    background-color: #e86464;
    padding: 2rem 10rem;
}

.flex-container{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#productos article {
    padding: 20px;
    text-align: center;
}

#productos img {
    display: block;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#productos p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
}

/* ******************************** */
/*              LA PIEL             */
/* ******************************** */

#lapiel {
    background-color: rgb(252, 241, 218);
    height: 100%;
    padding: 2rem 10rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#lapiel h2 {
    padding-left: 0;

}


#lapiel .parte1 {
width: 80%;
}

#lapiel img{
    margin-left: 10rem;
    width: 75%;
}

/* ******************************** */
/*              TIENDAS             */
/* ******************************** */

#tiendas {
    background-color: #e86464;
    padding: 2rem 10rem;
}

#tiendas .flex-container{
    display: flex;
    flex-direction: row;
}


#tiendas iframe {
    border: 0;
    width: 30rem;
    height: 300px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#tiendas .parte2{
    margin-left: 4rem;
}

#tiendas p {
    width: 90%;
}

/* ******************************** */
/*          PIE DE PÁGINA           */
/* ******************************** */

article footer {
    flex: 0 0 20%;
}

footer#piePagina {
    align-items: baseline;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 10px;
    min-height: 100px;
}

footer#piePagina section h3 {
    color: #990000;
}

#primera a {
    color: black;
    display: block;
}

i.fa {
    color: #EA9999;
    font-size: 2em;
}

.icon {
    margin-right: 10px;
}

/* ******************************** */
/*          COMPRAR ONLINE          */
/* ******************************** */

main#compraronline {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* ******************************** */
/*               ASIDE              */
/* ******************************** */

aside {
    background-color: #EA9999;
    height: 40rem;
    padding: 20px;
}

aside a {
    color: black;
    display: block;
    padding: 5px;
    text-decoration: none;
}

/* ******************************** */
/*       TARJETAS DE PRODUCTOS      */
/* ******************************** */

#tarjetas_productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#tarjetas_productos article {
    border-radius: 5px;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    height: 270px;
    margin: 20px;
    min-width: 200px;
    padding: 10px;
}

#tarjetas_productos h3 {
    text-align: center;
}

#tarjetas_productos article img{
    height: 140px;
    margin: 10px auto;
    width: 75%;
}